.what {
    background: rgba(217, 217, 217, 0.20);
    font-family: 'raleway';
    margin-top: 100px;
    padding: 100px 220px;
}

.container {
    position: relative;
}


.title {
    position: absolute;
    font-size: 24px;
    font-weight: 700;
    top: 47%;
    left: 13.5%;
    transform: translate(-100%, -50%);
}

.description {
    color: #000;
    text-align: justify;
    font-size: 20px;
    font-family: 'raleway';
    line-height: 133.891%;
    align-items: start;
    justify-content: start;
    flex-shrink: 0;
    margin-left: 30px;
}