@mixin bio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    font-family: 'raleway';
    margin: 155px;

}

.bioLight {
    @include bio();
}

.bioDark {
    @include bio();
    color: white;
}


.picContainer {
    position: relative;
    text-align: center;

    .myPic {
        width: 277px;
        height: 344px;
        position: absolute;
        top: 37%;
        left: 27%;
        transform: translate(-20%, -50%);
    }

    .art {
        width: 55px;
        position: absolute;
        top: 7%;
        left: 90%;
        transform: translate(-20%, -50%);
    }

    .code {
        width: 55px;
        position: absolute;
        top: 93%;
        left: -2%;
        transform: translate(-20%, -50%);
    }

    .picBg {
        position: relative;
    }
}

.leftPart {
    margin-top: 30px;
    margin-right: 100px;

    .subTitle {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 20px;
        font-weight: 400;
        line-height: 27px;
        max-width: 400px;

        .job {
            font-size: 20px;
            font-weight: 700;
            font-family: 'raleway';

        }
    }

    .hiTitle {
        margin-bottom: 10px;
        font-size: 25px;
        font-weight: 400;
    }



    .centerLoc {
        display: flex;
        flex-direction: row;
        align-items: center;

        .locationIcon {
            width: 25px;
        }

        .location {
            font-size: 18px;
            font-family: 'raleway';
            font-weight: 700;
        }

    }

}



@media screen and (min-width:800px) and (max-width:1045px) {
    .leftPart {

        .hiTitle {
            font-size: 19px;

            .job {
                font-size: 15px;
            }
        }

        .name {
            width: 30vw;
        }

        .subTitle {
            font-size: 15px;
        }

        .centerLoc {
            .location {
                font-size: 13px;
            }

            .locationIcon {
                width: 18px;
            }
        }
    }

    .picContainer {
        .myPic {
            width: 207px;
            height: 274px;
            transform: translate(-20%, -46%);

        }

        .picBg {
            width: 300px;

        }
    }

    @mixin bio {
        margin: 100px;
    }

    .bioLight {
        @include bio();
    }

    .bioDark {
        @include bio();
    }
}

@media screen and (min-width:400px) and (max-width:800px) {
    .leftPart {
        margin-right: 0;
        margin-top: -50px;
        margin-bottom: 110px;

        .hiTitle {
            font-size: 18px;
        }

        .name {
            width: 50vw;
        }

        .subTitle {
            font-size: 15px;

            .job {
                font-size: 16px;
            }
        }


        .centerLoc {
            .location {
                font-size: 14px;
            }

            .locationIcon {
                width: 16px;
            }
        }
    }

    .picContainer {
        .myPic {
            width: 187px;
            height: 254px;
            transform: translate(-20%, -46%);

        }

        .picBg {
            width: 270px;

        }

        .art {
            width: 40px;
        }

        .code {
            width: 40px;
        }
    }

    @mixin bio {
        flex-direction: column;
        font-family: 'raleway';
        justify-content: center;
        align-items: center;

    }

    .bioLight {
        @include bio();
    }

    .bioDark {
        @include bio();
        color: white;
    }
}

@media screen and (max-width:399px) {
    .leftPart {
        margin-right: 0;
        margin-top: -50px;
        margin-bottom: 110px;
        margin-left: -90px;

        .hiTitle {
            font-size: 17px;
        }

        .name {
            width: 50vw;
        }

        .subTitle {
            font-size: 14px;

            .job {
                font-size: 14px;
            }
        }

        .centerLoc {

            .location {
                font-size: 12px;
            }

            .locationIcon {
                width: 16px;
            }
        }
    }

    .picContainer {
        margin-left: -100px;

        .myPic {
            width: 157px;
            height: 224px;
            transform: translate(-20%, -46%);

        }

        .picBg {
            width: 230px;

        }

        .art {
            width: 30px;
        }

        .code {
            width: 30px;
        }
    }

    @mixin bio {
        display: grid;
        margin: 30% 50%
    }

    .bioLight {
        @include bio();
    }

    .bioDark {
        @include bio();
        color: white;
    }




}