.project {
    font-family: 'raleway';
}

@mixin projectBio($bg) {
    font-family: 'raleway';
    background: $bg;
    margin-top: 30px;
    padding: 5vw 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectBioLight {
    @include projectBio(rgba(217, 217, 217, 0.20))
}

.projectBioDark {
    @include projectBio(#171717);
    color: white;
}

.logo {
    width: 65px;
}

.highlight {
    width: 190px;
}
.highlightTech{
    width: 220px; 
}
.name {
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 10px;
}

.subTitle {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}

.link {
    font-size: 15px;
    font-weight: 600;
    color: #8f64f1;
    border: none;
    text-decoration: underline;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.inProgress{
    font-size: 15px;
    font-weight: 600;
    color: #8f64f1;
    border: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
}


.descTitle {
    position: absolute;
    color: black;
    font-size: 21px;
    font-weight: 700;
    top: 44%;
    left: 14%;
    transform: translate(-100%, -50%);
}




.demoTitle {
    color: black;
    position: absolute;
    font-size: 21px;
    font-weight: 700;
    top: 44%;
    left: 12%;
    transform: translate(-100%, -50%);
}

.partTitle {
    color: black;
    position: absolute;
    font-size: 21px;
    font-weight: 700;
    top: 44%;
    left: 12.5%;
    transform: translate(-100%, -50%);
}

.techTitle {
    color: black;
    position: absolute;
    font-size: 21px;
    font-weight: 700;
    top: 44%;
    left: 14.8%;
    transform: translate(-100%, -50%);
}

@mixin desc ($color) {
    margin-top: 50px;
    padding: 5vw 10vw;
    height: auto;
    padding-bottom: 70px;
    font-size: 20px;
    text-align: justify;
    color: $color;
}

.descLight {
    @include desc(black)
}

.descDark {
    @include desc(white)
}

@mixin demo($bg) {
    margin-top: 50px;
    padding: 5vw 10vw;
    height: auto;
    padding-bottom: 70px;
    font-size: 20px;
    text-align: justify;
    background-color: $bg;
}

.demoLight {
    @include demo(rgba(217, 217, 217, 0.20))
}

.demoDark {
    @include demo(#171717)
}

@mixin myPart($color) {
    margin-top: 50px;
    padding: 5vw 10vw;
    height: auto;
    padding-bottom: 70px;
    font-size: 20px;
    text-align: justify;
    color: $color;
}

.myPartLight {
    @include myPart(black)
}

.myPartDark {
    @include myPart(white)
}


@mixin tech($bg) {
    margin-top: 50px;
    padding: 5vw 10vw;
    height: auto;
    padding-bottom: 70px;
    font-size: 20px;
    text-align: justify;
    background-color: $bg;
}

.techLight {
    @include tech(rgba(217, 217, 217, 0.20))
}

.techDark {
    @include tech(#171717);
    color: white;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }



@media screen and (max-width:1045px) {
    .highlight {
        width: 160px;
    }
    .highlightTech{
        width: 190px; 
    }
    .name {
        font-size: 20px;
    }

    .subTitle {
        font-size: 15px;
    }

    .link {
        font-size: 12px;
    }
    .inProgress{
        font-size: 12px;
    }
    

    @mixin desc ($color) {
        font-size: 17px;
    }

    .descLight {
        @include desc(black)
    }

    .descDark {
        @include desc(white)
    }

    @mixin demo($bg) {
        font-size: 17px;
    }

    .demoLight {
        @include demo(rgba(217, 217, 217, 0.20))
    }

    .demoDark {
        @include demo(#171717)
    }

    @mixin myPart($color) {
        font-size: 17px;
    }

    .myPartLight {
        @include myPart(black)
    }

    .myPartDark {
        @include myPart(white)
    }


    @mixin tech($bg) {
        font-size: 17px;
    }

    .techLight {
        @include tech(rgba(217, 217, 217, 0.20))
    }

    .techDark {
        @include tech(#171717);
        color: white;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
.video {
    width: 100%;
    aspect-ratio: 16/9;
  }