.work {
    font-family: 'raleway';
    margin-top: 50px;
    padding: 50px 220px;
    height: auto;
    padding-bottom: 70px;
}

.container {
    position: relative;
}


.title {
    position: absolute;
    font-size: 23px;
    font-weight: 700;
    top: 7.5%;
    left: 12.5%;
    transform: translate(-100%, -50%);
}