.work {
    font-family: 'raleway';
    margin-top: 50px;
    padding: 3vw 10vw;
    height: auto;
    padding-bottom: 70px;
}

.container {
    position: relative;
}

.highlight {
    width: 190px;
}

.title {
    position: absolute;
    font-size: 23px;
    font-weight: 700;
    top: 7.5%;
    left: 12.5%;
    transform: translate(-100%, -50%);
}


@media screen and (max-width:1045px) {

    .highlight {
        width: 160px;
    }

}