@mixin card($shadow, $bgHover) {
    margin: 0 50px;
    border-radius: 20px;
    padding-bottom: 25px;
    width: 305px;
    height: 289px;
    border-radius: 25px;
    background: #F7F7F7;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'raleway';

}

.cardLight {
    @include card(rgba(0, 0, 0, 0.25), rgb(242, 242, 242))
}

.cardDark {
    @include card(rgba(255, 255, 255, 0.25), rgb(219, 219, 219))
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    width: 90%;
    cursor: pointer;
    
}

.title {
    line-height: 35px;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 700;
}

.desc {
    color: #000;
    text-align: center;
    font-size: 13px;
    font-family: Raleway;
    font-weight: 400;
}

.btn {
    justify-content: end;
    align-items: end;
    font-family: 'raleway';
    border: none;
    text-decoration: underline;
    background-color: transparent;
    color: #8f64f1;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    &:hover{
        color: #9f7eee;
    }
}


@media screen and (max-width:1045px) {

    @mixin card($shadow, $bgHover) {
        margin: 0 30px;
        width: 255px;
        height: 239px;
    }

    .cardLight {
        @include card(rgba(0, 0, 0, 0.25), rgb(242, 242, 242))
    }

    .cardDark {
        @include card(rgba(255, 255, 255, 0.25), rgb(219, 219, 219))
    }

    .title {
        font-size: 15px;
    }

    .desc {
        font-size: 10px;
    }

    .btn {
        font-size: 12px;
    }
}