.darkIcon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.backIcon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    padding-top: 40px;
    color:black;
}
.navDark{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    padding-top: 40px;
    color:white;
    background-color: #0F0E0E;
}

.flexCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.listItem {
    list-style-type: none;
    font-family: 'raleway';
    font-weight: 400;
    font-size: 20px;

    &:hover {
        list-style-type: none;
        font-family: 'raleway';
        font-weight: 700;
        font-size: 20px;
        text-decoration: underline;
        cursor: pointer;
    }
}

.listItemClicked {
    list-style-type: none;
    font-family: 'raleway';
    font-weight: 700;
    font-size: 20px;

    text-decoration: underline;

    &:hover {
        cursor: pointer;
    }
}

.resumeBtn {
    background-color: black;
    color: white;
    width: 124px;
    height: 43px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 600;
    font-family: 'raleway';
    cursor: pointer;
    border: none;
}
.resumeBtnDark {
    background-color: white;
    color: black;
    width: 124px;
    height: 43px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 600;
    font-family: 'raleway';
    cursor: pointer;
    border: none;
}