.footer {
    background-color: black;
    height: 30px;
    font-family: 'raleway';
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    font-weight: 600;
}