.error{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    width: 40vw;
    margin-top: 10vh;
}

@media screen and (max-width:1100px){
    .image{
        width: 60vw;
    }
}